/*
*= require_tree .
*= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.table > thead > tr,
.table > tbody > tr {
  > th { text-align: center; }
  > td { text-align: center; }
}

.center {
  text-align: center;
}

.btn-back {
  float: right;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
  &:hover {
    color: rgb(202, 187, 99);
    text-decoration: none;
  }
}

.notice {
  margin: 10px, 5px; 
  color: green;
}

.alert {
  margin: 10px, 5px; 
  color: red;
}