@import 'bootstrap-datetimepicker';

.panel {
  padding-top: 4px !important;
  text-align: left !important;
  resize: vertical;
  overflow: auto;
  font-size: 16px;
  word-wrap: break-word;
  word-break: break-all;
  border: none !important;
}

.column_name {
  height: 22px;
  width: 100px;
  padding: 2px !important;
  font-size: 18px;
  font-weight: 600;
  border: none !important;
}

.column_content {
  height: 22px;
  padding: 4px !important;
  font-size: 16px;
  border: none !important;
}

#task_sequence, #task_status {
  margin-left: 20px;
  width: 30%;
  height: 34px;
  padding: 3px 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}